<?xml version="1.0" encoding="utf-8"?>
<widget
    id="com.time_manager.app"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Time Manager</name>
    <description>Gestion des horaires et du temps de travail</description>
    <author email="contact@example.com">
        Time Manager
    </author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />

    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarBackgroundColor" value="#111827" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
        <application android:usesCleartextTraffic="true" />
    </edit-config>

    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <plugin name="cordova-sqlite-storage" spec="^7.0.0" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
</widget>